<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Webchat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  </head>
  <body>
    <ul class="messages" id="messages">
      <% messages.forEach(({date, nickname, chatMessage}) => { %>
      <li data-testid="message" class="message-item">
        <%=date %> - <%=nickname %>: <%=chatMessage%>
      </li>
      <%}) %>
    </ul>
    <form action="">
      <div class="nickName container">
        <input id="nickInput" autocomplete="on" data-testid="nickname-box" />
        <button id="change-nick" data-testid="nickname-save">Apelido</button>
      </div>
      <div class="input-message container">
        <input
          data-testid="message-box"
          id="mensagemInput"
          autocomplete="off"
        />
        <button id="send-message" data-testid="send-button">Send</button>
      </div>
      <div class="logged-users container" id="logged-users">
        <% onlineUsers.forEach(({userId, nickname}) => { %>
        <li data-testid="online-user" id="<%=userId%>"><%=nickname%></li>
        <%}) %>
      </div>
    </form>
    <script defer src="/main.js"></script>
  </body>
</html>
