<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zap da Trybe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form class="chat">
      <div>
        <input data-testid="nickname-box" id="nickname-box" />
        <button data-testid="nickname-save" id="nickname-save" type="button">Trocar</button>
      </div>
      <div id="online-users">
        <%onlineUsers.forEach((user) => { %>
          <li data-testid="online-user" id="<%=user.userId%>"><%=user.nickname%></li>
        <% }) %>
      </div>
      <div id="messages">
        <% messages.forEach((msg) => { %>
        <li data-testid="message"><%= msg.date %> - <%= msg.nickname %>: <%= msg.chatMessage%></li>
        <% }) %>
      </div>
      <div>
        <input data-testid="message-box" id="message-box" type="text" />
        <button data-testid="send-button" id="send-button" type="button">Enviar</button>
      </div>
    </form>
  </body>
  <script>
    const client = io();
    let userId;
    let nickname;

    const sendButton = document.getElementById('send-button');
    const messageBox = document.getElementById('message-box');
    const nicknameBox = document.getElementById('nickname-box');
    const nicknameSave = document.getElementById('nickname-save');
    const onlineUsers = document.getElementById('online-users');

    client.on('connected', (id, nick) => {
      userId = id;
      nickname = nick;
    });

    client.on('userConnected', (id, nick) => {
      const li = document.createElement('li');
      li.setAttribute('data-testid', 'online-user');
      li.setAttribute('id', `${id}`);
      li.innerHTML = nick;
      if (userId === id) {
        onlineUsers.prepend(li);
      } else {
        onlineUsers.append(li);
      }
    })

    client.on('nickChange', (nick, id) => {
      const nickChangeUser = document.getElementById(id);
      console.log('nickChange ON', nickChangeUser)
      nickChangeUser.innerHTML = nick;
    });

    client.on('message', (msg) => {
      const messagesBox = document.getElementById('messages');
      const li = document.createElement('li');
      li.setAttribute('data-testid', 'message');
      li.innerHTML = msg;
      messagesBox.append(li);
    });

    client.on('userDisconnected', (id) => {
      const disconnectedUser = document.getElementById(id);
      disconnectedUser.remove();
    });

    sendButton.addEventListener('click', () => {
      const chatMessage = messageBox.value;
      client.emit('message', { nickname, chatMessage });
    });

    nicknameSave.addEventListener('click', () => {
      nickname = nicknameBox.value;
      client.emit('nickChange', nickname, userId);
    })
  </script>
</html>
