<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Project 32 - Webchat || Bate papo UOL é você?</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <form>
    <!-- <%allcoisa.forEach((onlineUsers) => {%>

    <%=onlineUsers.nome%> - <%=onlineUsers.idade%>
    <!-- <li data-testid="message"><%=onlineUsers.timestamp%> - <%= onlineUsers.nickname%>: <%=onlineUsers.chatMessage%></li> -->
    <%})%> -->
  </form>
  <h1>funcionando</h1>
  <script type="text/javascript">
  </script>
</body>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<Script>
  const socket = io('http://localhost:3000');

</Script>

</html>